@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
}

header {
    background-color: black;
}

header > h1 {
    color: white;
    padding-top: 50px;

    font-family: "Passion One";
    text-align: center;
    font-size: 8vw;
}

header > p {
    color: white;
    margin: center;
    padding: 15px 0px 55px 0px;
    text-align: center;

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

header > p > a {
    color: white;
    text-decoration: none;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header > p > a:hover{
    text-decoration: underline;
}

section > p {
    font-family: "Sriracha";
    font-size: 3.5vw;
}

section#s1 {
    background-color: white;
    padding: 70px 0px 100px 30px;
}

section#s2 {
    background-color: white;
    background-image: url("imagens/background001.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    padding: 70px 0px 100px 30px;
}

section#s2 > p {
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.39);

    color: white;
}